<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .left{
            float: left;
            width: 200px;
            background: red;
        }
        .right{
            margin-left: -200px;
            background: aquamarine;
        }
    </style>
</head>
<body>
<div class="left">left</div>
<div class="right">right</div>
</body>
</html>